
  body{
    color: #5995DA;
    background-color: #5995DA;
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 32px;
    line-height: 1.3;
    display:flex;
  flex-direction: column;
  align-items: center;
  }
  .speaker-form{
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
  }
  .form-row{
    margin-bottom:40px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form-row > input[type="text"],
  .form-row > input[type="email"],
  .form-row > input[type="password"],
  .form-row > input[type="datetime-local"],
  .form-row > input[type="date"]{
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 75%;
    padding: 7px;
    font-size: 32px;

  }
  .form-row > label{
    margin-bottom: 15px;
  }
  .form-row select{
    width: 100%
    padding: 5px;
    font-size: 32px;
    -webkit-appearance:none;
  }
  .legacy-form-row, {
    border:none;
    margin-bottom: 40px;
  }
  .legacy-form-row > legend{
    margin-bottom:15px;
  }
  .form-row > fieldset{
  color:#5D6063;
  border:none;
  }
  .legacy-form-row > .radio-label{
    display: block;
    font-size: 32px;
    padding: 0 20px 0 10px
  }
  .legacy-form-row > input[type="radio"]{
    margin-top: 2px;
  }
  .legacy-form-row > .radio-label,
   .legacy-form-row >input[type="radio"]{
     float: left;
   }
   .form-row > textarea{
     font-family: "Helvetica","Arial",sans-serif;
     font-size: 32px;
     border: 1px solid #D6D9DC;
     border-radius: 3px;
     min-height: 200px;
     margin-bottom: 10px;
     padding: 7px;
     resize: none;
   }
   .form-row > .instructions{
     color: #999999;
     font-size: 32px;
     margin-bottom: 30px;
   }
   .form-row > input[type="submit"]{
     width: 400px;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #5995DA;
    border:none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
   }
   button:hover{
    background-color: #76AEED;
   }
   button:active{
     color:#5D6063;
   }
    p{
      color: #616161;
    }
